body {
    background-color: darkolivegreen;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.pizza {
    border: 2px solid #1f1c08;
    padding: 1em;
    margin: 1em;
    border-radius: 1em;
   
}
.medium_pizza {
    background-color: yellowgreen;

}

.large_pizza {
    background-color: limegreen;
}

.small_pizza {
    background-color: chartreuse;
}

.contact_us {
    background-color: burlywood;
}

@media (min-width: 760px) {

   .pizzas{
    display:flex;
}
}